DB_SERVER=WIN-HKBUI0ID607\DATACENTERSERVER  #<---host.docker.internal\DATACENTERSERVER
DB_USER=sa
DB_PASSWORD='Informa2025$$'
DB_NAME=DBInforma
DB_ENCRYPT=true
DB_TRUST_CERT=true
# Optional: if your DB server is a named instance, you can either split the values
# into DB_SERVER=HOST and DB_INSTANCE=INSTANCE_NAME or keep DB_SERVER=HOST\\INSTANCE
# You can also specify a port directly: DB_SERVER=HOST,PORT
# DB_INSTANCE=DATACENTERSERVER
# DB_PORT=1433
